html,
body {
    background-color: transparent !important;
    margin: 0;
}

video {
    display: block;
    background-color: transparent;
}

body {
    overflow: hidden;
    background-color: transparent;
}