html,
body {
    background: transparent !important;
    margin: 0;
}

video {
    display: block;
    background: transparent !important;
}

body {
    overflow: hidden;
    background-color: transparent;
}