:root {
    --accent-color: #000080;
    --clippy-color: hsl(60, 9%, 72%);
}

html {
    width: 450px;
    height: 400px;
}

body {
    font-family: 'Pixelify Sans', Tahoma, sans-serif;
    font-size: 16px;
    background-color: var(--clippy-color);
    padding: 10px;
}

*::selection {
    background: var(--accent-color);
    color: #ffffff;
}

h1 {
    margin: auto;
}
 
#settings-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;    
}

.setting label {
    margin-left: auto
}

input[type="checkbox"] {
    accent-color: #000080;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 6px;
    background: #000080;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 18px;
    background: #000080;
    border: 1px solid #ffffff;
    border-radius: 0;
    cursor: pointer;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background: #000080;
}

input[type="range"]::-moz-range-thumb {
    width: 14px;
    height: 18px;
    background: #000080;
    border: 1px solid #ffffff;
    border-radius: 0;
    cursor: pointer;
}


.top-bar {
    width: 450px;
    height: 25px;
    top: 0px;
    left: 0px;
    background-image: linear-gradient(to right, #000080 0%, #1084d0 100%);
    position: absolute;
    font-size: 17px;
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    margin: 0px;
    display: flex;
    align-items: center;
    z-index: 1;
    border-bottom: 1px solid #000;
}

.top-bar p {
    margin: 0;
    padding-left: 4px;
}

#close-button {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 19px;
    height: 19px;
    padding: 0;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    background: #c0c0c0;
    border: 1px outset #dfdfdf;
    cursor: pointer;
}

#close-button:active {
    border-style: inset;
}

input { 
    background-color: var(--accent-color)
}